<!doctype html>
<html lang="zh-CN">
<include file="Public:head" />
<body class="user-select">
	<include file="Public:header"/>
	<section class="container container-page">
	  <div class="pageside">
	    <div class="pagemenus">
	      <ul class="pagemenu">
	        <li><a href="tags.html">标签云</a></li>
	        <li><a href="readers.html">读者墙</a></li>
	        <li><a href="links.html">友情链接</a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="content">
	    <header class="article-header">
	      <h1 class="article-title">读者墙</h1>
	    </header>
	    <div class="readers">
			<volist name="readers" id="reader">
				<if condition="($reader['sid'] eq 1)">
					<a class="item-readers item-readers-1" target="" href="" rel="nofollow">
						<h4>【金牌读者】<small>评论：{$reader['counts']}</small></h4>
						<if condition="$reader['facesrc'] eq '' ">
								<img class="avatar" height="36" width="36" src="__IMAGES__/icon/icon.png" alt=""><strong>{$reader['m_name']}</strong>
							<else />
								<img class="avatar" height="36" width="36" src="{$reader['facesrc']}" alt=""><strong>{$reader['m_name']}</strong>
						</if>
					</a>
				<elseif condition="($reader['sid'] eq 2)"/>
					<a class="item-readers item-readers-2" target="" href="" rel="nofollow">
						<h4>【银牌读者】<small>评论：{$reader['counts']}</small></h4>
						<if condition="$reader['facesrc'] eq '' ">
								<img class="avatar" height="36" width="36" src="__IMAGES__/icon/icon.png" alt=""><strong>{$reader['m_name']}</strong>
							<else />
								<img class="avatar" height="36" width="36" src="{$reader['facesrc']}" alt=""><strong>{$reader['m_name']}</strong>
						</if>						
					</a>
				<elseif condition="($reader['sid'] eq 3)"/>
					<a class="item-readers item-readers-3" target="" href="" rel="nofollow">
						<h4>【铜牌读者】<small>评论：{$reader['counts']}</small></h4>
						<if condition="$reader['facesrc'] eq '' ">
								<img class="avatar" height="36" width="36" src="__IMAGES__/icon/icon.png" alt=""><strong>{$reader['m_name']}</strong>
							<else />
								<img class="avatar" height="36" width="36" src="{$reader['facesrc']}" alt=""><strong>{$reader['m_name']}</strong>
						</if>
					</a>
				<else />
					<a class="item-readers item-readers-4" target="" href="" rel="nofollow">
						<h4>【普通读者】<small>评论：{$reader['counts']}</small></h4>
						<if condition="$reader['facesrc'] eq '' ">
								<img class="avatar" height="36" width="36" src="__IMAGES__/icon/icon.png" alt=""><strong>{$reader['m_name']}</strong>
							<else />
								<img class="avatar" height="36" width="36" src="{$reader['facesrc']}" alt=""><strong>{$reader['m_name']}</strong>
						</if>
					</a>				
				</if>
			</volist>
	  </div>
	</section>
	<!--登录注册开始-->
		<include file="Public:loginReg"/>
	<!--登录注册结束-->
	<!--页脚部分开始-->
	<include file="Public:footer"/>
	<!--页脚部分结束-->
	
	<!--about部分开始-->
	<include file="Public:about"/>
	<!--about部分结束-->
	
	<include file="Public:remoteInfo"/>
	<script type="text/javascript">
		var thinkphp = {
			'url':'__ROOT__/index.php/'
		}
	</script>
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/jquery.ias.js"></script> 
<script src="__JS__/scripts.js"></script>
<script src="__JS__/index.js"></script>
</body>
</html>