<head>
	<meta property="wb:webmaster" content="0cda0f617c06b2d2" />
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="baidu-site-verification" content="PoHVQiNCP9" />
	
	<title>破冰者博客</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/nprogress.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/ladda-themeless.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/prism.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/jquery.Jcrop.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/csshake.css">

		
	<link rel="apple-touch-icon-precomposed" href="__IMAGES__/icon/icon.png">
	<link rel="shortcut icon" href="__IMAGES__/icon/favicon.ico">
	<script src="__JS__/jquery-2.1.4.min.js"></script>
	<script src="__JS__/nprogress.js"></script>
	<script src="__JS__/jquery.lazyload.min.js"></script>
	<script src="__JS__/spin.js"></script>
	<script src="__JS__/ladda.min.js"></script>
		<!--[if gte IE 9]>
	  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
	  <script src="js/html5shiv.min.js" type="text/javascript"></script>
	  <script src="js/respond.min.js" type="text/javascript"></script>
	  <script src="js/selectivizr-min.js" type="text/javascript"></script>
	<![endif]-->
		<!--[if lt IE 9]>
	  <script>window.location.href='upgrade-browser.html';</script>
	<![endif]-->
</head>
