<!--登录模态框-->
<div class="modal fade user-select" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post" id="login-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="alert login-alert alert-dismissable" style="display: none;">
                        <button type="button" class="close login-close" aria-hidden="true">
                            &times;
                        </button>
                        用户名或密码错误,请重新输入
                    </div>
                    <div class="form-group">
                        <div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
                            <input type="text" class="form-control" id="loginModalUserName" placeholder="请输入用户名" autofocus maxlength="15" autocomplete="off" required>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="input-group">
								  <span class="input-group-addon">
								  	<i class="glyphicon glyphicon-lock"></i>
								  </span>
                            <input type="password" class="form-control" id="loginModalUserPwd" placeholder="请输入密码" maxlength="18" autocomplete="off" required>
                        </div>
                    </div>
					<div class="form-group">
						<div><wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button></div>
					</div>				
                </div>
				
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <!--<button type="button" class="btn btn-primary" id="login">登录</button>-->
                    <button class="btn btn-primary ladda-button login" data-style="zomm-out"><span class="ladda-label">登录</span></button>
                </div>
            </form>
		</div>
    </div>
</div>
<!--注册模态框-->
<div class="modal fade user-select" id="regModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post" id="reg-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">注册</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-dismissable reg-alert" style="display: none;">
                        <button type="button" class="close reg-close" 
                                aria-hidden="true">
                            &times;
                        </button>
                        <span>注册成功 到登录页面进行登录</span>
                    </div>
                    <div class="form-group">
                        <label for="loginModalUserNmae">用户名</label>
                        <input style="display:none">
                        <input type="text" class="form-control" id="regModalUserNmae" placeholder="支持中文、字母、数字、'_'的组合 , 4-20个字符" autofocus maxlength="20" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="loginModalUserPwd">密码</label>
                        <input style="display:none">
                        <input type="password" class="form-control" id="regModalUserPwd" placeholder="使用字母、数字、下划线4-20个字符" maxlength="20" autocomplete="off" required>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="">Email</label>
                        <input style="display:none">
                        <input type="text" class="form-control" id="regEmail" placeholder="请输入邮箱" maxlength="30" autocomplete="off" required>
                    </div>-->
                    <div class="form-group">
                        <label for="">QQ</label>
                        <input style="display:none">
                        <input type="text" class="form-control" id="regQq" placeholder="请输入qq号" maxlength="18" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <!--<button type="button" class="btn btn-primary" id="reg">注册</button>-->
                    <button class="btn btn-primary ladda-button reg" data-style="zomm-out"><span class="ladda-label">注册</span></button>
                </div>
            </form>
        </div>
    </div>
</div>