<div id="rightClickMenu">
<ul class="list-group rightClickMenuList">
    <li class="list-group-item disabled">欢迎访问破冰者博客</li>
    <li class="list-group-item"><span>IP：</span>{$remoteInfo.ip}</li>
   <li class="list-group-item"><span>系统：</span>{$remoteInfo.os}</li>
</ul>	
</div>
<!--
<div id="rightClickMenu">
  <ul class="list-group rightClickMenuList">
    <li class="list-group-item disabled">欢迎访问破冰者博客</li>
    <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
    <li class="list-group-item"><span>地址：</span>江苏省南通市</li>
    <li class="list-group-item"><span>系统：</span>Linux</li>
    <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
  </ul>
</div>-->